<div class="hero">
  <br />
  <br />
  <br />
  <div class="frosty">
    <h1>Learn what it takes to</h1>
    <br />
    <%= link_to 'Learn More', courses_path, :class => "btn btn-success" %>
  </div>
</div>
<br />
<br />

<div class="container-fluid feature text-center">
  <div class="card-tallbox col-xs-12 col-sm-4">
    <h1>Feature 1</h1>
    <br />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quod quidem nobis non saepe contingit. Quae si potest singula consolando levare, universa quo modo sustinebit? Ergo instituto veterum, quo etiam Stoici utuntur, hinc capiamus exordium. Nunc reliqua videamus, nisi aut ad haec, Cato, dicere aliquid vis aut nos iam longiores sumus. Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster? Ego vero isti, inquam, permitto.

Quodcumque in mentem incideret, et quodcumque tamquam occurreret. Non igitur bene. Et quidem iure fortasse, sed tamen non gravissimum est testimonium multitudinis. Ita fit beatae vitae domina fortuna, quam Epicurus ait exiguam intervenire sapienti. Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem; Is es profecto tu.

Ut in voluptate sit, qui epuletur, in dolore, qui torqueatur. Easdemne res? Tu vero, inquam, ducas licet, si sequetur; Graccho, eius fere, aequalí? Nemo igitur esse beatus potest. Mihi enim satis est, ipsis non satis.

Negat enim summo bono afferre incrementum diem. Duo Reges: constructio interrete. Haec dicuntur inconstantissime. Nam aliquando posse recte fieri dicunt nulla expectata nec quaesita voluptate. Quamquam tu hanc copiosiorem etiam soles dicere. Cum autem venissemus in Academiae non sine causa nobilitata spatia, solitudo erat ea, quam volueramus.

Itaque his sapiens semper vacabit. Ait enim se, si uratur, Quam hoc suave! dicturum. Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Nam, ut sint illa vendibiliora, haec uberiora certe sunt. Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Ergo illi intellegunt quid Epicurus dicat, ego non intellego?</p>
  </div>
  <div class="card-tallbox col-xs-12 col-sm-4">
    <h1>Feature 2</h1>
    <br />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quod quidem nobis non saepe contingit. Quae si potest singula consolando levare, universa quo modo sustinebit? Ergo instituto veterum, quo etiam Stoici utuntur, hinc capiamus exordium. Nunc reliqua videamus, nisi aut ad haec, Cato, dicere aliquid vis aut nos iam longiores sumus. Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster? Ego vero isti, inquam, permitto.

Quodcumque in mentem incideret, et quodcumque tamquam occurreret. Non igitur bene. Et quidem iure fortasse, sed tamen non gravissimum est testimonium multitudinis. Ita fit beatae vitae domina fortuna, quam Epicurus ait exiguam intervenire sapienti. Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem; Is es profecto tu.

Ut in voluptate sit, qui epuletur, in dolore, qui torqueatur. Easdemne res? Tu vero, inquam, ducas licet, si sequetur; Graccho, eius fere, aequalí? Nemo igitur esse beatus potest. Mihi enim satis est, ipsis non satis.

Negat enim summo bono afferre incrementum diem. Duo Reges: constructio interrete. Haec dicuntur inconstantissime. Nam aliquando posse recte fieri dicunt nulla expectata nec quaesita voluptate. Quamquam tu hanc copiosiorem etiam soles dicere. Cum autem venissemus in Academiae non sine causa nobilitata spatia, solitudo erat ea, quam volueramus.

Itaque his sapiens semper vacabit. Ait enim se, si uratur, Quam hoc suave! dicturum. Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Nam, ut sint illa vendibiliora, haec uberiora certe sunt. Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Ergo illi intellegunt quid Epicurus dicat, ego non intellego?</p>
  </div>
  <div class="card-tallbox col-xs-12 col-sm-4">
    <h1>Feature 3</h1>
    <br />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quod quidem nobis non saepe contingit. Quae si potest singula consolando levare, universa quo modo sustinebit? Ergo instituto veterum, quo etiam Stoici utuntur, hinc capiamus exordium. Nunc reliqua videamus, nisi aut ad haec, Cato, dicere aliquid vis aut nos iam longiores sumus. Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster? Ego vero isti, inquam, permitto.

Quodcumque in mentem incideret, et quodcumque tamquam occurreret. Non igitur bene. Et quidem iure fortasse, sed tamen non gravissimum est testimonium multitudinis. Ita fit beatae vitae domina fortuna, quam Epicurus ait exiguam intervenire sapienti. Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem; Is es profecto tu.

Ut in voluptate sit, qui epuletur, in dolore, qui torqueatur. Easdemne res? Tu vero, inquam, ducas licet, si sequetur; Graccho, eius fere, aequalí? Nemo igitur esse beatus potest. Mihi enim satis est, ipsis non satis.

Negat enim summo bono afferre incrementum diem. Duo Reges: constructio interrete. Haec dicuntur inconstantissime. Nam aliquando posse recte fieri dicunt nulla expectata nec quaesita voluptate. Quamquam tu hanc copiosiorem etiam soles dicere. Cum autem venissemus in Academiae non sine causa nobilitata spatia, solitudo erat ea, quam volueramus.

Itaque his sapiens semper vacabit. Ait enim se, si uratur, Quam hoc suave! dicturum. Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Nam, ut sint illa vendibiliora, haec uberiora certe sunt. Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Ergo illi intellegunt quid Epicurus dicat, ego non intellego?</p>
  </div>
</div>
