<br />
<div class="card-tallbox col-xs-10 col-xs-offset-1">
  <br />
  <h1 class="text-center">Add a new section</h1>
  <br />
  <br />
  <%= simple_form_for @lesson, :url => instructor_section_lessons_path(current_section) do |f| %>
    <%= f.input :title, :label => "Lesson Title", :placeholder => "e.g. [Lesson 1] The origin of calculus" %>
    <br />
    <%= f.input :transcript %>
    <br />
    <%=f.submit 'Add Lesson', :class => "btn btn-success" %>
  <% end %>
  <br />
  <br />
</div>
