$footer-height: 120px;

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -$footer-height;
  padding: 0 0 $footer-height;
}

#footer {
  height: $footer-height;
  color: white;
  background-color: rgba(0,0,0,0.75);
  font-family: "Helvetica Neue",Helvetica;
  padding:10px 0px;
  margin-top:30px;
  font-weight: 100;
}

#footer a {
  color: white;
}

#footer a:hover {
  text-decoration: none;
}

#footer .social-button {
  width: 32px;
  margin: 2px;
}

.social a {
  color: white;
}

$footer-height-mobile: 200px;
@media (max-width: 750px) {
  #footer {
    height:$footer-height-mobile;
  }

  #wrap {
    margin: 0 auto -$footer-height-mobile;
    /* Pad bottom by footer height */
    padding: 0 0 $footer-height-mobile;
  }
}
