.navbar-default {
  background: #E3A619;
  font-family: quicksandbold_italic;
  font-size: 20px;
  border-radius: 0px;
}

.navbar-default .navbar-brand{
  color: #FFF;
  font-size: 30px;
}

.navbar-default a {
  color: #FFF;
}