.frosty {
  font-family: "Helvetica Neue", Helvetica;
  padding-left: 20px;
}

.frosty h1 {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  color: #0A3A4A;
  text-shadow: rgba(255,255,255,0.95) 1px 1px;
}

.frosty .btn {
  border-radius: 0px;
}

.navbar {
  background: url('carbon_fibre.png');
  font-family: quicksandbold_italic;
  font-size: 20px;
  border-radius: 0px;
  border: 0px;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.navbar-default .navbar-brand{
  color: white;
  font-size: 30px;
  margin:1000;
}

.navbar-default .navbar-nav > li > a {
  color: #FFF;
}

.hero {
  background: url('fly.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

body {
  background: url('cream_dust.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.card-tallbox {
  font-family: 'quicksandregular', sans-serif;
  background-color: #ffffff;
  border: solid 1px #D9D9DE;
  border-radius: 6px;
  line-height: 1.5;
  margin-bottom: 10px;
  position: relative;
  font-size: 12px;
}

.card-tallbox h1, h3, h2, h6{
  font-family: 'quicksandbold', sans-serif;
}

.clear {
  clear:both;
}