.navbar {
  background: url('carbon_fibre.png');
  font-family: quicksandbold_italic;
  font-size: 20px;
  border-radius: 0px;
}

.navbar-default .navbar-brand{
  color: #FFF;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
  color: #FFF;
}